<!DOCTYPE html>
<html>
  <head>
    <title>Splitzies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type='text/javascript'>
      window.logo = '<%= image_url('logo.png')%>'
      window.splash = '<%= image_url('splash.png')%>'
      window.splash1 = '<%= image_url('splash1.png')%>'
      window.splash2 = '<%= image_url('splash2.png')%>'
      window.splash3 = '<%= image_url('splash3.png')%>'
      window.splash4 = '<%= image_url('splash4.png')%>'
      window.splash5 = '<%= image_url('splash5.png')%>'
      window.github = '<%= image_url('github.png')%>'
      window.linkedin = '<%= image_url('linkedin.png')%>'
    </script>


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= favicon_link_tag asset_path('favicon.png')%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    
  </body>
</html>
